/* YOUR CUSTOM STYLES */

.view {
	background: url("http://mdbootstrap.com/img/Photos/Horizontal/Food/full%20page/9.jpg")no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.full-bg-img {
	color: #fff;
}

.title {
	font-weight:100;
}

.payment .fa:not(:first-child) {
	margin-left:10px;
	color:rgba(255,255,255,.8);
}

.form-control{
		color:#ffffff !important;
}

.rating {
	position: relative;
  border-radius: 3px;
  text-shadow: none;
  float: left;
  line-height: 40px;
  margin: 0;
  top: inherit;
  /*background-color: #00B551;*/
	font-style: normal;
	color:black;
}

.resultView {
  background: #fff;
  position: relative;
  z-index: 50;
	margin: 0 !important;
	padding: 0 !important;
	/*height:100vh;*/
	overflow:auto;
}

#results li.result {
  background: #fff;
  border-left: 5px solid transparent;
  margin: 0;
  overflow: hidden;
  padding: 5px .5%;
  position: relative;
  width: auto;
}

#results li.result.leftLayout {
    /*border-bottom: 1px solid #c7cdcf;*/
    border-left: none;
		width:100%;
}

.displayMap{
	position:relative;
	width:100%;
	height:100vh;
  overflow: hidden;
	margin:0 !important;
	padding:0 !important;
	z-index: 5000000;
	display: inline-block;
}

.dispImage{
	width:100%;
	height:100%;
	position: relative;
	float:left;
}

.logo{
	width:40px;
	height:40px;
	position: relative;
	float:left;
}

.yelp{
	width:100%;
	height:100%;
	position: relative;
	float:left;
}

.sfo{
	width:60px;
	height:40px;
	position: relative;
	float:left;
}

#results li.result.leftLayout .contentHolder {
  margin: 0;
  padding: 20px;
	overflow: hidden;
}

.photoCol{
	border-radius: 4px;
	background: #efeff4;
	float: left;
	height: 100px;
	margin: 0;
	width: 100px;
}

.photoContainer {
  height: 100px;
  position: relative;
  right: inherit;
  top: inherit;
  width: 100px;
}

#results li.result.leftLayout .contentHolder .infoCol{
	position: relative;
	float:left;
  /*padding: 0 0 0 20px;*/
}

.reviews{
	position: relative;
	float:left;
  border-bottom: 1px solid #c7cdcf;
  border-top: 1px solid #c7cdcf;
	color:black;
  /*padding: 0 0 0 20px;*/
}

.hotel {
  background: none;
  border: none;
  margin: 0;
  overflow: visible;
  padding: 0 45px 3px 0;
}

.name{
	font-style: normal;
	color:#2d5be3;
}

.break{
	/*width:5%; */
	float:left; position:relative;
  color: #ffffff;
}

input[type="text"]:focus:not([readonly]) {
	border-color:#C00;
	box-shadow:0 1px 0 0 #C00;
	color:#fff;
}

input[type="text"]:not([readonly])+label {
	color:rgba(255,255,255,.65);
}

input[type="text"]:focus:not([readonly])+label {
	color:#fff;
}
